@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: Montserrat;
  font-weight: 200;
  color:white;
}
body {
  overflow-x: hidden;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
  }
  }